<!doctype html>
<html>
<head>
    <% include ./partials/head.ejs %>
</head>
<body>
<!--js scripts-->
<script type="text/javascript">
    function addOption(domObj, value, text)
    {
        var objOption = document.createElement('option')
        objOption.text = text
        objOption.value = value

        domObj.options.add(objOption)
    }

    function clearOptions(domObj)
    {
        var options = domObj.options
        while (options.length > 1)
            options[1] = null
    }

    function updateCourse()
    {
        var course = document.getElementById('course')

        clearOptions(course)

        var batch = document.getElementById('batch')
        batch = batch.options[batch.selectedIndex].value

        var subjects = <%- JSON.stringify(subjects) %>
        var courses = new Set()
        for (i = 0; i < subjects.length; i++)
            if (subjects[i].batch.toString() === batch)
            {
                var curCourse = subjects[i].course
                if (!courses.has(curCourse))
                {
                    courses.add(curCourse)
                    addOption(course, curCourse, curCourse)
                }
            }

        updateStream()
    }

    // change visibility and options of stream based on selected course
    function updateStream()
    {
        var course = document.getElementById('course')
        var streamdiv = document.getElementById('streamdiv')
        var stream = document.getElementById('stream')
        clearOptions(stream)
        if (course.options[course.selectedIndex].value === 'btech')
        {
            streamdiv.style.display = 'block'
            var streams = ['csc', 'cse', 'me', 'ece', 'ce']
            for (i = 0; i < streams.length; i++)
                addOption(stream, streams[i], streams[i])
        }
        else
        {
            streamdiv.style.display = 'none'
            addOption(stream, 'none', 'none')
            stream.selectedIndex = '1'
        }

        updateName()
    }

    function updateName()
    {
        var name = document.getElementById('name')
        clearOptions(name)

        var batch = document.getElementById('batch')
        batch = batch.options[batch.selectedIndex].value
        var course = document.getElementById('course')
        course = course.options[course.selectedIndex].value
        var stream = document.getElementById('stream')
        stream = stream.options[stream.selectedIndex].value

        var subjects = <%- JSON.stringify(subjects) %>
        for (i = 0; i < subjects.length; i++)
        {
            var cur_sub = subjects[i]
            if (cur_sub.batch.toString() === batch && cur_sub.course.toString() === course &&
                cur_sub.stream.toString() === stream)
                addOption(name, cur_sub.sid, cur_sub.name)
        }
    }
</script>

<!--navbar-->
<header>
    <% include ./partials/navbar.ejs %>
</header>

<!--main container-->
<div class="w3-container w3-padding-64 w3-third w3-display-topmiddle" id="container">
    <!--flash message-->
    <% if (message.length > 0) {
        var obj = JSON.parse(message)
    if(obj.status === 'error') { %>
    <div class="w3-panel w3-red w3-card w3-padding-16 w3-display-container">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-display-topright w3-hov">&times;</span>
        <%= obj.message %>
    </div>
    <% } else { %>
    <div class="w3-panel w3-green w3-card w3-padding-16 w3-display-container">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-display-topright w3-hov">&times;</span>
        <%= obj.message %>
    </div>
    <% }} %>

    <!--form-->
    <form action="/assign_subject" method="post"
          class="w3-container w3-padding-16 w3-light-grey w3-round w3-border w3-card-4" id="form">
        <h2>Assign Subject</h2>

        <label>Faculty<span class="w3-text-red">*</span></label>
        <label>
            <select class="w3-select w3-border w3-round" required name="faculty">
                <option value=""></option>
                <% for(var i = 0; i < faculty.length; i++) { %>
                <option value=<%= faculty[i].uid %>><%= faculty[i].name %></option>
                <% } %>
            </select>
        </label>

        <label>Batch<span class="w3-text-red">*</span></label>
        <label>
            <select class="w3-select w3-border w3-round" required name="batch" id="batch" onchange="updateCourse()">
                <option value=""></option>
                <%
                var batches = new Set()
                for(i = 0; i < subjects.length; i++) {
                if (!batches.has(subjects[i].batch)) {
                    batches.add(subjects[i].batch) %>
                <option value=<%= subjects[i].batch %>><%= subjects[i].batch %></option>
                <% }} %>
            </select>
        </label>

        <label>Course<span class="w3-text-red">*</span></label>
        <label>
            <select class="w3-select w3-border w3-round" required name="course" id="course"
                    onchange="updateStream()">
                <option value=""></option>
            </select>
        </label>

        <div id="streamdiv" style="display:none">
            <label>Stream<span class="w3-text-red">*</span></label>
            <label>
                <select class="w3-select w3-border w3-round" required name="stream" id="stream" onchange="updateName()">
                    <option value=""></option>
                </select>
            </label>
        </div>

        <label>Subject Name<span class="w3-text-red">*</span></label>
        <label>
            <select class="w3-select w3-border w3-round" required name="name" id="name">
                <option value=""></option>
            </select>
        </label>

        <br><br>

        <button type="submit" class="w3-btn w3-round w3-blue">Assign Subject</button>
    </form>
</div>
</body>
</html>