<!DOCTYPE html>
<html>
<!--head-->
<% include ./partials/head.ejs %>
<body>
<!--navbar-->
<% include ./partials/navbar.ejs %>

<!--main container-->
<div class="w3-container w3-padding-64 w3-center" id="container">
    <!--incomplete subjects-->
    <div class="w3-margin-bottom w3-left-align" style="display: inline-block">
        <% for(var i = 0; i < incomplete_subs.length; i++) {
            var cur = incomplete_subs[i] %>
        <form method="post" action="/get_subject"
              class="w3-panel w3-leftbar w3-khaki w3-padding w3-margin-bottom">
            Add <%= cur.lec_per_week - cur.cnt %> more lecture(s) of <%= cur.name %> of <%= cur.batch %>
            - <%= cur.course %>
            <% if(cur.course) { %>
            - <%= cur.stream %>
            <% } %>
            &nbsp;

            <label>
                <input type="hidden" name="sid" value=<%= cur.sid %>>
            </label>
            <button class="w3-btn w3-blue w3-tiny w3-round" type="submit">Add</button>
        </form>
        <% } %>
    </div>

    <!--time table-->
    <div class="w3-responsive" style="padding-bottom: 50px">
        <table class="w3-bordered w3-table">
            <tr>
                <th></th>
                <% for(i = 9; i <= 16; i++) { %>
                <th class="w3-center w3-border-left"><%= i %>:00-<%= i + 1 %>:00</th>
                <% } %>
            </tr>

            <% var dt = new Date()
            var days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
            var day = dt.getDay() - 1
            for(i = 0; i < 5; i++) { %>
            <tr>
                <% if(i === day) { %>
                <th class="w3-center w3-text-blue"><%= days[i] %></th>
                <% } else { %>
                <th class="w3-center"><%= days[i] %></th>
                <% } %>
                <% for(var j = 9; j <= 16; j++) {
                    var free = true
                    var index
                    for(var k = 0; k < timings.length; k++)
                    {
                        if(timings[k].day === i && timings[k].time === j)
                        {
                            free = false
                            index = k
                            break
                        }
                    }
                if(day === i){
                if(free) { %>
                <td class="w3-blue w3-border"></td>
                <% } else { %>
                <td class="w3-red w3-center w3-tooltip">
                        <span style="position:absolute; font-size: 14px" class="w3-text w3-tag w3-round">
                        <%= timings[index].course %>
                            <br>
                            <% if(timings[index].course === 'btech') { %>
                            <%= timings[index].stream %>
                            <% } %>
                            <br>
                            <%= timings[index].batch %>
                    </span>
                    <span style="font-size: 16px; "><b><%= timings[index].abbrev %></b></span>
                    <span style="font-size: 14px; "><%= timings[index].room_name %></span>
                </td>
                <% }} else {
                if(free) {
                %>
                <td class="w3-border w3-green"></td>
                <% } else { %>
                <td class="w3-yellow w3-center w3-tooltip w3-border">
                        <span style="position:absolute; font-size: 14px" class="w3-text w3-tag w3-round">
                        <%= timings[index].course %>
                            <br>
                            <% if(timings[index].course === 'btech') { %>
                            <%= timings[index].stream %>
                            <% } %>
                            <br>
                            <%= timings[index].batch %>
                    </span>
                    <span style="font-size: 16px; "><b><%= timings[index].abbrev %></b></span>
                    <span style="font-size: 10px; "><%= timings[index].room_name %></span>
                </td>
                <% }}} %>
            </tr>
            <% } %>
        </table>
    </div>

    <!--abbreviations-->
    <div class="w3-margin-top w3-container w3-center w3-responsive" style="display: inline-block">
        <h4>Abbreviations</h4>
        <table class="w3-table w3-bordered w3-hoverable">
            <% var subs = new Set()
            for(i = 0; i < timings.length; i++) {
                var sub_name = timings[i].subject_name
            if(!subs.has(sub_name)) {
                subs.add(sub_name) %>
            <tr>
                <td class="w3-border-right"><%= timings[i].abbrev %></td>
                <td><%= sub_name %></td>
            </tr>
            <% }} %>
        </table>
    </div>
</div>
</body>
</html>