<!DOCTYPE html>
<html>
<!--head-->
<% include ./partials/head.ejs %>
<body>
<!--navbar-->
<% include ./partials/navbar.ejs %>

<!--main container-->
<div class="w3-container w3-padding-64 w3-display-topmiddle" id="container" style="display: inline-block">
    <div class="w3-responsive">
        <table class="w3-table w3-bordered w3-hoverable">
            <tr>
                <th class="w3-border-right">Subject</th>
                <th class="w3-border-right">Batch</th>
                <th class="w3-border-right">Course</th>
                <th>Stream(s)</th>
            </tr>
            <%
            for(var i = 0; i < subjects.length; i++)
            {
                var curSub = subjects[i] %>
                <tr>
                    <td class="w3-border-right"><%= curSub.name %></td>
                    <td class="w3-border-right"><%= curSub.batch %></td>
                    <td class="w3-border-right"><%= curSub.course.toUpperCase() %></td>
            <%
                if(curSub.combined === 0)
                {
            %>
                    <td><%= curSub.streams.toUpperCase() %></td>
            <%
                }
                else
                {
                    var streams = JSON.parse(curSub.streams)
                    console.log(streams)
            %>
                    <td>
            <%
                    for(var j = 0; j < streams.length - 1; j++)
                    {
            %>
                        <%= streams[j].toUpperCase() %>,
            <%
                    }
            %>
                    <%= streams[j].toUpperCase() %>
                    </td>
            <%
                }
            %>
            </tr>
            <%
            }
            %>
        </table>
    </div>
</div>
</body>
</html>