<!DOCTYPE html>
<html>
<!--head-->
<head>
    <title>BMU : <%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">-->
    <link rel="stylesheet" href="/public/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!--js scripts-->
<script type="text/javascript">
    function filter()
    {
        var input, filter, table, tr, td, i
        input = document.getElementById('filter')
        filter = input.value.toUpperCase()
        table = document.getElementById('table')
        tr = table.getElementsByTagName('tr')
        for(i = 0; i < tr.length; i++)
        {
            td = tr[i].getElementsByTagName('td')[0]
            if(td)
                if(td.innerHTML.toUpperCase().indexOf(filter) > -1)
                    tr[i].style.display = ''
                else
                    tr[i].style.display = 'none'
        }
    }
</script>

<!--navbar-->
<% include ./partials/navbar.ejs %>

<!--main container-->
<div class="w3-container w3-padding-64 w3-display-topmiddle w3-threequarter" id="container">
    <!--filter-->
    <input class="w3-input w3-margin-bottom w3-animate-input" type="text" placeholder="Search for subjects.."
           id="filter" onkeyup="filter()" style="width: 30%">

    <!--table-->
    <div class="w3-responsive">
        <table class="w3-table w3-bordered w3-hoverable" id="table">
            <tr>
                <th class="w3-border-right">Subject</th>
                <th class="w3-border-right">Batch</th>
                <th class="w3-border-right">Course</th>
                <th class="w3-border-right">Stream(s)</th>
                <th>Faculty</th>
            </tr>
            <%
            for(i = 0; i < subjects.length; i++)
            {
                var curSub = subjects[i]
            %>
                <tr>
                    <td class="w3-border-right"><%= curSub.subject_name %></td>
                    <td class="w3-border-right"><%= curSub.batch %></td>
                    <td class="w3-border-right"><%= curSub.course %></td>
                    <td class="w3-border-right">
                        <%= curSub.streams %>
                        <button class="w3-btn w3-round w3-tiny w3-green w3-right"
                                id="<%= JSON.stringify(
                                        {
                                            id: 1,
                                            sid: curSub.sid,
                                            name: curSub.subject_name,
                                            batch: curSub.batch,
                                            course: curSub.course,
                                            streams: curSub.streams,
                                            cid: curSub.cid
                                        }
                                ) %>">
                            Add
                        </button>
                    </td>
            <%
                var user_name = curSub.user_name
                if(user_name)
                {
            %>
                    <td><%= user_name %></td>
            <%
                }
                else
                {
            %>
                    <td>
                        <button class="w3-btn w3-round w3-tiny w3-blue"
                                id="<%= JSON.stringify(
                                        {
                                            id: 2,
                                            sid: curSub.sid,
                                            name: curSub.subject_name
                                        }
                                ) %>">
                            Assign
                        </button>
                    </td>
            <%
                }
            %>
                </tr>
            <%
            }
            %>
            <script type="text/javascript">
                function getStreams(sid, cid, batch)
                {
                    $('#stream').find('option').remove()

                    var xhttp = new XMLHttpRequest()
                    xhttp.onreadystatechange = function()
                    {
                        if (this.readyState === 4 && this.status === 200)
                        {
                            streams = JSON.parse(this.response)

                            $('#stream').append('<option value=""></option>');
                            for(var i = 0; i < streams.length; i++)
                                $('#stream').append('<option value="' + streams[i].streamid + '">' + streams[i].name +
                                    '</option>');
                        }
                    }
                    xhttp.open("GET", "/get_unassigned_streams?sid=" + sid.toString() + "&cid=" + cid.toString() +
                        "&batch=" + batch.toString(), true)
                    xhttp.send()
                }

                var buttons = document.getElementsByTagName('button')
                for(var i = 0; i < buttons.length; i++)
                    buttons[i].onclick = function(e)
                    {
                        var obj = JSON.parse(this.id)

                        if(obj.id === 1)    // add stream
                        {
                            getStreams(obj.sid, obj.cid, obj.batch)

                            var sid = document.getElementById('sid1')
                            sid.value = obj.sid
                            var name = document.getElementById('name1')
                            name.value = obj.name
                            var batch = document.getElementById('batch')
                            batch.value = obj.batch
                            var course = document.getElementById('course')
                            course.value = obj.course
                            var streams = document.getElementById('streams')
                            streams.value = obj.streams

                            var add_stream = document.getElementById('add_stream_modal')
                            add_stream.style.display = 'block'
                        }
                        else    // assign
                        {
                            sid = document.getElementById('sid2')
                            sid.value = obj.sid
                            name = document.getElementById('name2')
                            name.value = obj.name

                            var assign = document.getElementById('assign_modal')
                            assign.style.display = 'block'
                        }
                    }
            </script>
        </table>
    </div>
</div>

<!--add stream form modal-->
<div id="add_stream_modal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <form action="/add_stream_to_subject" method="post"
              class="w3-padding w3-border w3-card-4" id="form">
            <div class="w3-center">
                <span onclick="document.getElementById('add_stream_modal').style.display='none'"
                      class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            </div>
            <h3>Add Stream</h3>

            <label>
                <input type="text" name="sid" id="sid1" required style="display: none">
            </label>

            <label>Subject<span class="w3-text-red">*</span></label>
            <label>
                <input type="text" class="w3-input w3-border w3-round w3-disabled" name="name" id="name1" required
                       disabled>
            </label>

            <label>Batch<span class="w3-text-red">*</span></label>
            <label>
                <input type="text" class="w3-input w3-border w3-round w3-disabled" name="batch" id="batch" required
                       disabled>
            </label>

            <label>Course<span class="w3-text-red">*</span></label>
            <label>
                <input type="text" class="w3-input w3-border w3-round w3-disabled" name="course" id="course" required
                       disabled>
            </label>

            <label>Existing Stream(s)<span class="w3-text-red">*</span></label>
            <label>
                <input type="text" class="w3-input w3-border w3-round w3-disabled" name="streams" id="streams" required
                       disabled>
            </label>

            <label>New Stream<span class="w3-text-red">*</span></label>
            <label>
                <select class="w3-select w3-border w3-round" required name="stream" id="stream">
                    <option value=""></option>
                </select>
            </label>

            <br><br>

            <button type="submit" class="w3-btn w3-round w3-blue">Add</button>
        </form>
    </div>
</div>

<!--assign form modal-->
<div id="assign_modal" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
        <form action="/assign_subject" method="post"
              class="w3-padding w3-border w3-card-4" id="form">
            <div class="w3-center">
                <span onclick="document.getElementById('assign_modal').style.display='none'"
                      class="w3-button w3-xlarge w3-hover-red w3-display-topright" title="Close Modal">&times;</span>
            </div>
            <h3>Assign Faculty</h3>

            <label>
                <input type="text" name="sid" id="sid2" required style="display: none">
            </label>

            <label>Subject<span class="w3-text-red">*</span></label>
            <label>
                <input type="text" class="w3-input w3-border w3-round w3-disabled" name="name" id="name2" required
                       disabled>
            </label>

            <label>Faculty<span class="w3-text-red">*</span></label>
            <label>
                <select class="w3-select w3-border w3-round" required name="faculty">
                    <option value=""></option>
                    <% for(var i = 0; i < faculty.length; i++) { %>
                    <option value=<%= faculty[i].uid %>><%= faculty[i].name %></option>
                    <% } %>
                </select>
            </label>

            <br><br>

            <button type="submit" class="w3-btn w3-round w3-blue">Assign</button>
        </form>
    </div>
</div>
</body>
</html>